table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: blue;
}

th {
    background-color: rgb(43, 204, 38);
    color: beige; 
}

a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    border-radius: 5px;
}

a:hover, a:active {
    background-color: lightblue; 
    border-radius: 5px;
}

h1, h2, h3, h4 {
    text-align: center; 
}

input[type=submit] { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

